<!-- Gerenciamento De estoque -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Estoque</title>
    <link rel="stylesheet" href="gerenciar.css">
</head>
<body>
    <header>
        <nav>
        <h1>Minha Loja</h1>
        <div class="textos-nav">
            <h2><a href="estoque.html">Estoque</a></h2>
            <h2><a href="gerenciamento.html">Gerenciamento</a></h2>
        </div>
    </nav>
    </header>


    <section>
        <main class="central">
            <div>
                <h1>Gerenciamento de estoque</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Produtos</th>
                            <th>Quantidade</th>
                            <th>Remover</th>
                            <th>Categoria</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>teste</td>
                            <td>1</td>
                            <td><a href="" class="remover">Remover</a></td>
                            <td>Limpeza</td>
                        </tr>
                    </tbody>
                </table>
                
                <div>
                    <button class="button-add"><a href="formulario.html" class="add">Adicionar mais Produtos</a></button>
                </div>
            </div>
        </main>
    </section>
</body>
</html>